m4/
atasmart.strpool.c
strpool
skdump
sktest
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
*.o
*.lo
*.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
*.la
libatasmart.pc
libtool
ltmain.sh
missing
stamp-*
*.tar.gz
